{% extends "baseAdmin.html.twig" %}

{% extends "_partials/header.html.twig" %}
{% include "_partials/header.html.twig" %}
{% block title %}produits{% endblock %}

{% block body %}

    <h1 class="pb-5">Liste des produits</h1>

    <table class="table table-hover table-sm texxt-center align-middle text-center">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fruits in fruitss|reverse %}
                <tr>
                    <td>{{ loop.revindex }}</td>
                    {# <td class="text-start"><img src="{{ asset('img/fruits/' ~ fruits.img1) }}" alt="image principale du jeu {{ fruits.name }}" class="pe-3"> {{ fruits.name }}</td> #}
                    <td>{{ fruits.price|number_format(2, ',', ' ') }} €</td>
                    <td>{{ fruits.category.name }}</td>
                    <td>
                        <a href="{{ path('fruits_update', {'id': fruits.id}) }}"><i class="bi bi-pencil-square text-primary"></i></a>
                        <a href="{{ path('fruits_delete', {'id': fruits.id}) }}"><i class="bi bi-trash3 text-danger"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end mt-4">
        <a href="{{ path('fruits_create') }}" class="btn btn-success">Ajouter un produit</a>
    </div>
    
{% endblock %}