{% extends 'base.html.twig' %}

{% block description %}Fruits{% endblock %}

{% block title %}Fruits{% endblock %}

{% block h1 %}Fruits{% endblock %}

{% block body %}
<div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h1>Fruits</h1>
            </div>
        </div>
</div>
              

    {% for fruits in fruitss %}
        <div class="col-md-6 col-lg-4 col-xl-3 p-3">
            <div class="card">
                <img src="{{ asset('img/fruits/' ~ fruits.img) }}" class="card-img-top p-3" alt="image principale du jeu {{ product.name }}">
                {% if fruits.createdAt|date('Y-m-d') >= "now"|date_modify("-20 day")|date('Y-m-d') %}
                    <span class="new_fruits">Nouveauté</span>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ fruits.name }}</h5>
                    <p class="card-text">{{ fruits.abstract|u.truncate(70, '...', false) }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ fruits.price|number_format(2, ',', ' ') }} €</li>
                </ul>
                <div class="card-body text-center">
                    <a href="{{ path('fruits_show', {'slug': fruits.slug}) }}" class="card-link btn btn-outline-primary">Détails</a>
                  
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
