{% extends "base.html.twig" %}

{% block description %}{{ fruits.abstract|u.truncate(157, '...') }}{% endblock %}

{% block title %}{{ fruits.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fruits.css') }}">
{% endblock %}

{% block h1 %}{{ fruits.name }}{% endblock %}

{% block body %}

    <div class="col-md-8 col-lg-4 offset-md-2 offset-lg-1">
        <div class="row mb-4">
            <img src="{{ asset('img/fruits/' ~ fruits.img1) }}" alt="photo principale du jeu {{ fruits.name }}" class="w-100">
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{{ asset('img/fruits/' ~ fruits.img1) }}" alt="photo secondaire du jeu {{ fruits.name }}" class="w-100">
            </div>
            {# {% if fruits.img2 != null %}
                <div class="col-4">
                    <img src="{{ asset('img/fruits/' ~ fruits.img2) }}" alt="photo secondaire du jeu {{ fruits.name }}" class="w-100">
                </div>
            {% endif %}
            {% if fruits.img3 != null %}
                <div class="col-4">
                    <img src="{{ asset('img/fruits/' ~ fruits.img3) }}" alt="photo secondaire du jeu {{ fruits.name }}" class="w-100">
                </div>
            {% endif %} #}
        </div>
    </div>
    <div class="col-md-8 col-lg-5 offset-md-2 offset-lg-1 mt-5 mt-lg-0">
        <h2>{{ fruits.name }}</h2>
        <hr class="text-secondary">
        <div class="my-4">
            <p class="fs-3">
                {{ fruits.price|number_format(2, ',', ' ') }} €
                {% if fruits.quantity != 0 %}
                    <span class="fs-4 text-success">En stock</span>
                {% else %}
                    <span class="fs-4 text-danger">Rupture de stock</span>
                {% endif %}
            </p>
            <p>{{ fruits.abstract }}</p>
            <p>
                <span class="badge bg-secondary p-2 me-2">{{ fruits.minPlayers }} à {{ fruits.maxPlayers }} joueur(s)</span>
                <span class="badge bg-secondary p-2 me-2">Environ {{ fruits.duration|date('h') > 0 ? fruits.duration|date('h') * 60 + fruits.duration|date('i') : fruits.duration|date('i') }} minutes</span>
                <span class="badge bg-secondary p-2">À partir de {{ fruits.minimumAge }} an(s)</span>
            </p>
        </div>
        <hr class="text-secondary">
        <div class="my-4">
            <p>Éditeur : {{ fruits.editor }}</p>
            <p>Thème(s) : {{ fruits.theme }}</p>
            <p>Mécanisme(s) : {{ fruits.mecanism }}</p>
        </div>
        <hr class="text-secondary">
        <div class="mt-4">
            <p class="text-end">
                <a href="#" class="btn btn-{{ fruits.quantity != 0 ? 'success' : 'danger disabled' }}">Ajouter au panier</a>
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 col-lg-10 offset-md-2 offset-lg-1">
            <h2>Description</h2>
            <p>{{ fruits.description }}</p>
        </div>
    </div>

{% endblock %}
