{% extends "baseAdmin.html.twig" %}

{# {% include "_partials/header.html.twig" %}

{% extends "_partials/header.html.twig" %} #}

{% block title %}création produit{% endblock %}

{% block body %}
<h1>{{ form_title }}</h1>

{{ form_start(productForm) }}

        <div class="row">
            <div class="col-6">
           
                {{ form_label(productForm.name, 'Nom') }}
                {{ form_errors(productForm.name) }}
                {{ form_widget(productForm.name, {
                    'attr': {
                        'placeholder': 'Ex.: Jan'
                    }
                }) }}
                {{ form_help(productForm.name) }}
            </div>
            <div class="col-3">
                {{ form_row(productForm.quantity, {
                    'label': 'Poids (en G)',
                    'attr': {
                        'placeholder': 'Ex.: 572g'
                    }
                }) }}
            </div>
              <div class="col">
                {{ form_row(productForm.category, {
                    'label': 'Catégorie',
                    'placeholder': '-- sélectionner --'
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form_row(productForm.price, {
                    'label': 'Prix (en €)',
                    'attr': {
                        'placeholder': 'Ex.: 123.45'
                    }
                }) }}
            </div>
            <div class="col-3">
                {{ form_row(productForm.description, {
                    'label': 'Description',
                    'attr': {
                        'placeholder': 'Ex.: 123.45'
                    }
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-end my-3">
                <a href="{{ path('admin_products')}}" class="btn btn-outline-danger me-3">Annuler</a>
                <button class="btn btn-success">Créer</button>
            </div>
        </div>

    {{ form_end(productForm) }}

{% endblock %}